/obj/Debug/net9.0-windows/ProjectTimeTracker.AssemblyInfo.cs
/obj/Debug/net9.0-windows/ProjectTimeTracker.AssemblyInfoInputs.cache
/obj/Debug/net9.0-windows/ProjectTimeTracker.assets.cache
/ProjectTimeTracker.csproj
/obj/Debug/net9.0-windows/ProjectTimeTracker.csproj.AssemblyReference.cache
/obj/Debug/net9.0-windows/ProjectTimeTracker.csproj.CoreCompileInputs.cache
/obj/Debug/net9.0-windows/ProjectTimeTracker.csproj.FileListAbsolute.txt
/obj/ProjectTimeTracker.csproj.nuget.dgspec.json
/obj/ProjectTimeTracker.csproj.nuget.g.props
/obj/ProjectTimeTracker.csproj.nuget.g.targets
/ProjectTimeTracker.csproj.user
/bin/Debug/net9.0-windows/ProjectTimeTracker.deps.json
/bin/Debug/net9.0-windows/ProjectTimeTracker.dll
/obj/Debug/net9.0-windows/ref/ProjectTimeTracker.dll
/obj/Debug/net9.0-windows/refint/ProjectTimeTracker.dll
/obj/Debug/net9.0-windows/ProjectTimeTracker.dll
/bin/Debug/net9.0-windows/ProjectTimeTracker.exe
/obj/Debug/net9.0-windows/ProjectTimeTracker.GeneratedMSBuildEditorConfig.editorconfig
/obj/Debug/net9.0-windows/ProjectTimeTracker.genruntimeconfig.cache
/obj/Debug/net9.0-windows/ProjectTimeTracker.GlobalUsings.g.cs
/bin/Debug/net9.0-windows/ProjectTimeTracker.pdb
/obj/Debug/net9.0-windows/ProjectTimeTracker.pdb
/bin/Debug/net9.0-windows/ProjectTimeTracker.runtimeconfig.json
/obj/Debug/net9.0-windows/ProjectTimeTracker.sourcelink.json

# Embedded OAuth client secret (do not commit)
/Secrets/client_secret.json
